<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.3/cerulean/bootstrap.min.css"
    integrity="sha512-dQLT/B7byn2LjN/DN4zeBKpwGV6qbidV0XiMRWQOL7TGrV7FkZFldkGG+DGMU+CQnMTcRZlUI7GMWt1j6akNew=="
    crossorigin="anonymous" />
  <title> Airport Schedules </title>
</head>

<body class='p-3 mb-2 bg-secondary'>
  <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
      <a href="../" class="navbar-brand">Airport Schedules <span style="color: rgb(39, 117, 161);"> <strong> - Django
            Framework</strong>
        </span> </a>
      <a href="https://flightaware.com/aeroapi/" class="navbar-tech">AeroAPI</a>
    </div>
  </div>

  <br /><br /> <br>
  <div id="jumbotron" class="jumbotron" style="text-align: center; margin-top:-50px">
    <h1 class="display-5">Airport Arrivals and Departures Desktop App </h1>
    <h5>Using Python Language and Django Framework</h5>
    <img src="{% static 'images/routes.png' %}" class="image" style="width:550px; margin-bottom:-100px; ">
  </div>



  </nav>
  <br> <br>
  <div class="row justify-content-center p-3 mb-2 bg-info">
    <button onclick="window.location.href='/arrivals';">
        Arrivals
      </button>

      <button onclick="window.location.href='/departures';">
        Departures
      </button>
    </div>
</body>

</html>
