<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.3/cerulean/bootstrap.min.css"
    integrity="sha512-dQLT/B7byn2LjN/DN4zeBKpwGV6qbidV0XiMRWQOL7TGrV7FkZFldkGG+DGMU+CQnMTcRZlUI7GMWt1j6akNew=="
    crossorigin="anonymous" />
  <title> {{airport}} departures schedule </title>
</head>

<body>
  <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
      <a href="../" class="navbar-brand">Departures <span style="color: rgb(39, 117, 161);"> <strong> - Django
            Framework</strong>
        </span> </a>
      <a href="https://flightaware.com/aeroapi/" class="navbar-tech">AeroAPI</a>
    </div>
  </div>

  <br /><br /> <br>
  <div id="jumbotron" class="jumbotron" style="text-align: center; margin-top:-50px">
    <h1 class="display-5">{{ airport|upper }} Departures Desktop App </h1>
    <h5>Using Python Language and Django Framework</h5>
    <img src="{% static 'images/routes.png' %}" class="image" style="width:350px; margin-bottom:-50px; ">
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <form method="post" class="col-md">
      {% csrf_token %}
      <div class=" input-group">

      <input type="text" class="form-control" name="airport" placeholder="Enter 4-letter airport identifier (ex. 'KSEA')">
      <div class="input-group-btn">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
      </div>
      <form>
  </nav>
  <br> <br>
  <div class="row justify-content-center">
    {% for i in departures %}
    <!-- <div class="col d-flex justify-content-center" > -->
      <div class=" card text-white bg-light mb-6">
      <div class=" card-body">

        <img
            src="{% static 'images/plane.png' %}" alt="Image" style="width:70px">
        <h4><span class="badge badge-primary">Flight Number :</span> {{i.ident}}</h4>
        <h4><span class="badge badge-primary">Destination :</span> {{i.destination.code}}</h4>
        <h4><span class="badge badge-primary">Scheduled Arrival :</span> {{i.scheduled_in}}</h4>
        <h4><span class="badge badge-primary">Estimate Arrival : </span> {{i.estimated_in}}</h4>
        <h4><span class="badge badge-primary">Expected Gate :</span> {{i.gate_destination}} </h4>
        <h4><span class="badge badge-primary">Aircraft : </span> {{i.aircraft_type}}</h4>



      </div>
      {% endfor %}
    </div>
</body>

</html>
